USE [master]
GO
/****** Object:  Database [Ejb_music]    Script Date: 26/03/2025 4:11:29 CH ******/
CREATE DATABASE [Ejb_music]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ejb_music', FILENAME = N'D:\App\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ejb_music.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ejb_music_log', FILENAME = N'D:\App\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\Ejb_music_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ejb_music].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ejb_music]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 26/03/2025 4:11:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Id] [nvarchar](200) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Desciption] [nvarchar](max) NULL,
	[File_name] [nvarchar](100) NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Image_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/03/2025 4:11:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [nvarchar](200) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Track] ADD  CONSTRAINT [DF_Track_Created_at]  DEFAULT (getdate()) FOR [Created_at]
GO
USE [master]
GO
